Q1) Write a Python Program to Find the Factorial of a Number?

In [ ]:

num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

Q2). Write a Python Program to Display the multiplication Table?

In [3]:
num = int(input("Multiplication table of: "))


for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Multiplication table of: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q6). Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
num  = int(input("ENter the number: "))
i = 0
while(i<=num):
  print("The natural number is", i)
  i = i+1

ENter the number: 10
The natural number is 0
The natural number is 1
The natural number is 2
The natural number is 3
The natural number is 4
The natural number is 5
The natural number is 6
The natural number is 7
The natural number is 8
The natural number is 9
The natural number is 10

Q3). Write a Python Program to Print the Fibonacci sequence?

In [ ]:

n = int(input("How many terms? "))

n1, n2 = 0, 1
count = 0

if n <= 0:
   print("Please enter a positive integer")
elif n == 1:
   print("Fibonacci sequence upto",n,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

Q4). Write a Python Program to Check Armstrong Number?

In [ ]:

num = int(input("Enter a number: "))

sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

Q5) Write a Python Program to Find Armstrong Number in an Interval?

In [4]:
lower = 100
upper = 2000

for num in range(lower, upper + 1):

   order = len(str(num))
    
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634